<style type="text/css">
    body {background-color:#e6e6e6;font-family:serif;}
    .delta{color:#0D1C9D;}
    .delta_line{color:#0D1C9D;border-bottom: 2px solid #0D1C9D;}
    .psiu{color:#a71930;}
    .psiu_line{ color:#a71930;border-bottom: 2px solid #a71930;}
    
    .major_line, .minor_line{color:#0D1C9D;;border-bottom: 2px solid #a71930;padding-top:2mm;}
    
    a:link, a:hover, a:visited, a:active {color:#000;}
    h3 { padding:0 0 1mm 0;margin:0 0 1mm 0;font-weight: bold;font-family: "Verdana, Arial, Helvetica, sans-serif"; text-align: center; }
    .left_side { padding:0 5mm; text-align:left; white-space:nowrap;}
    .right_side { white-space:nowrap; }
    .tree {border:thin solid transparent; padding:2mm 7mm;margin:0;font-size:10pt;}
    
    .key{border:thin solid transparent; font-size:9pt;padding:0;margin:0;font-weight: bold;}
</style>
