/* Settings for the site. **********************************/
/**********************************************************/
body {
  background-color: #e6e6e6;
  font-family: serif;
}
.delta {
  color: #0d1c9d;
}
.delta_line {
  color: #0d1c9d;
  border-bottom: 2px solid #0d1c9d;
}
.psiu {
  color: #a71930;
}
.psiu_line {
  color: #a71930;
  border-bottom: 2px solid #a71930;
}
.major_line,
.minor_line {
  color: #0d1c9d;
  border-bottom: 2px solid #a71930;
  padding-top: 2mm;
}
a:link,
a:hover,
a:visited,
a:active {
  color: #000;
}
h3 {
  padding: 0 0 1mm 0;
  margin: 0 0 1mm 0;
  font-weight: bold;
  font-family: "Verdana, Arial, Helvetica, sans-serif";
  text-align: center;
}
.left_side {
  padding: 0 5mm;
  text-align: left;
  white-space: nowrap;
}
.right_side {
  white-space: nowrap;
}
.tree {
  border: thin solid transparent;
  padding: 2mm 7mm;
  margin: 0;
  font-size: 10pt;
}
.key {
  border: thin solid transparent;
  font-size: 9pt;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.menuLink {
  font-size: 10pt;
  position: fixed;
}
.lastUpdated {
  top: 5px;
  left: 5px;
}
.pageLinkUpper {
  top: 5px;
  right: 5px;
}
.pageLinkLower {
  top: 20px;
  right: 5px;
}
td {
  border-bottom: thin solid lightgrey;
}
